.photo-container {
    width: 416px; /* Желаемая ширина контейнера */
    height: 300px; /* Желаемая высота контейнера */
    overflow: hidden; /* Обрезаем изображение, если оно больше контейнера */
    display: flex; /* Устанавливаем flex-контейнер */
    justify-content: center; /* Центрируем изображение по горизонтали */
    align-items: center; /* Центрируем изображение по вертикали */
   
  }
  
  .photo-container img {
    width: 100%; /* Сделаем изображение занимающим 100% ширины контейнера */
    height: 100%; /* Сделаем изображение занимающим 100% высоты контейнера */
    object-fit: cover; /* Обрежем изображение до размеров контейнера */
    object-position: center; /* Центрируем изображение внутри контейнера */
  }
  